* {
	margin: 0;
	padding: 0;
	font-family: 'Blinker', sans-serif;
}

.hidden {
	visibility: hidden;
}

.displayNone {
	display: none;
}

.selectModeMenu {
	width: 250px;
	margin: 15px auto 0;
	cursor: pointer;
}

.selectModeMenu__selected {
	display: flex;
}

.selectModeMenu__selected_value {
	width: 230px;
	text-align: center;
}

.selectModeMenu__optionList {
	width: 230px;
}

.selectoModeMenu__optionList-itm {
	text-align: center;
}

.selectModeMenu__selected:hover,
.selectoModeMenu__optionList-itm:hover {
	background: red;
	color: white;
}

.selectModeMenu__selected {
	border: 1px solid black;
}

.selectModeMenu__optionList {
	border: 1px solid black;
	border-top: none;
}

.startGameHeader {
	text-align: center;
}

.startGameBtn {
	display: block;
	margin: 15px auto 0;
	width: 150px;
	height: 35px;
	background: #fff;
	outline: none;
	border: 1px solid black;
	cursor: pointer;
}

.startGameBtn:hover {
	background: red;
	color: white;
}

.alertDiv {
	width: 250px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 15px auto;
    background: red;
    color: white;
}

.gameField {
	border-collapse: collapse;
	margin: 15px auto;
	user-select: none;
}

.gameField tr td {
	width: 15px;
	height: 15px;
	border: 1px solid black;
}

.redBackground {
	background: red;
}

.bomb {
	
}

.innerDiv {
	width: 100%;
	height: 100%;
	line-height: 15px;
	text-align: center;
}

.endGamePage {
    background: red;
    color: white;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    margin: 15px auto;
    box-shadow: 0 0 black;
}

.unOpened {
	box-shadow: 0px 0px 8px -2px rgb(160, 78, 78);
	background: rgba(167, 80, 80, 0.33);
}